body{
    background-color: #FCF6EC;
    max-width: 375px;

}
h1,h2,h3{
    text-align: center;
}
h1{
    padding-top: 100px;
}
.header-bande{
    position: fixed;
    z-index: 1;
    top:0;
    left:0
}
.bande{
    width: 375px;
    height: 60px;
}
.logo{
    position: absolute;
    left:5px;
    top:5px;
}



.introduction p{
    position: relative;
}
.introduction img{
    float: right;
    margin-right: -19px;
    margin-left: 5px;
}


.article1,
.article2,
.article3{
    background-color: #100F57;
    width: 375px;
    height: 500px;
}

.bloc_article .article1 img,
.bloc_article .article2 img,
.bloc_article .article3 img{
    width: 300px;
    height: 330px;
}
.article1{
    position: relative;
}
.article1 img{
   position: absolute;
    left:50px;
    top:50px;
}


