body{
    background-color: #FCF6EC;
    max-width: 375px;

}
h1,h2,h3{
    text-align: center;
}
h1{
    padding-top: 100px;
}
.header-bande{
    position: fixed;
    z-index: 1;
    top:0;
    left:0
}
.bande{
    width: 375px;
    height: 60px;
}
.logo{
    position: absolute;
    left:5px;
    top:5px;
}



.introduction p{
    position: relative;
}
.introduction img{
    float: right;
    margin-right: -8px;
    margin-left: 5px;
}

.article1,
.article2,
.article3{
    background-color: #100F57;
    position: relative;
    width: 375px;
    height: 480px;
    margin-left: -8px;
    margin-bottom: 10px;
}
.article3{
    margin-bottom: 200px;
}

.bloc_article .article1 img,
.bloc_article .article2 img,
.bloc_article .article3 img{
    width: 300px;
    height: 330px;
}

.article1 img,
.article2 img,
.article3 img{
   position: absolute;
    left:37.5px;
    top:30px;
}
.bouton1,
.bouton2,
.bouton3{
    background: linear-gradient(to right, #5C19E5,#E327CD) ;
    width: 255px;
    height: 45px;
    border-radius: 10px;
    color: white;
    position: absolute;
    top: 380px;
    left:60px
}
.bouton1 p{
    margin: 10px 0 10px 30px;
}
.bouton2 p{
    margin: 10px 0 10px 10px;
}
.bouton3 p{
    margin: 10px 0 10px 30px;
}
.bloc_article .article3{
    margin-bottom: 40px;
}
.footer{
    text-align: center;
    color:white;
    width: 375px;
    height: 190px;
    margin-left: -8px;
}
footer p{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 2px;
}
.footer .bloc_footer1{
    height: 160px;
    background-color: #5B5B5B;
}
.bloc_footer1 img{
    width: 30px;
}
footer .footer_p1{
    padding-top: 15px;
}

.footer .bloc_footer2{
    height: 49px;
    background-color: black;
}
.bloc_footer2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.bloc_footer2 .fb{
    margin-left: 30px;
    margin-right: 30px;
}







