
.triangle_gallerie{
    width: 44px;
    height: 47px;
    background: linear-gradient(to bottom,#E31BEA,#F94D67 );
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    margin :80px auto 20px auto;
}

/*galerie*/
.carousel
img{
    max-width: 220px;
    height: 300px;
}
.carousel{
    background: linear-gradient(to bottom,#01004E, #E52D73);
    color: white;
    padding: 20px 0;
}
ul.carousel-items{
    list-style: none;
    padding: 20px 0;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory ;
}
li.carousel-item{
    flex:1 0 220px;
    margin-right: 20px;
    scroll-snap-align: center;
}
::-webkit-scrollbar{
    height: 2px;
}
::-webkit-scrollbar-track{
    background: #01004E;
}
::-webkit-scrollbar-thumb{
    background-color: #EDEF1C;
}

/*bouton transition*/

.transition a p{
    text-align: center;
    color: white;
}

/*prob*/

.triangle_articlescience{
    width: 44px;
    height: 47px;
    background-color: #74DEF3;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    margin :80px auto 20px auto;

}
.bouton_conclu{
    background: linear-gradient(to right, #5C19E5,#E327CD) ;
    width: 200px;
    height: 55px;
    border-radius: 20px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}
.triangle_conclu{
    width: 44px;
    height: 47px;
    background: linear-gradient(to bottom,#F94D67,#E327CD );
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    margin-left: auto;
    margin-right: auto;

}
.prob_transition{
    padding-top: 15px;
}


