
html{
    font-size: 62.5%;
}

body{
    font-family:Roboto-Medium, sans-serif;
    font-size: 1.6rem;/*=16px*/
    line-height: 1.6;
    color: #2A2929;
}
p,h3{
    margin-left: 15px;
    margin-right: 10px;
}

h1{
    font-size: 5rem;
    font-family: "Raleway ExtraBold", sans-serif;
    color: #100F58;
    border-bottom: #F7446D 2px solid;
}
h2{
    font-family: "Raleway ExtraBold",sans-serif;
    font-size: 3rem;
    color: #100F58;
    border-bottom: #F7446D 2px solid;
    width: 180px;
    margin-left: 97.5px;
    margin-top: 40px;
}
h3{
    font-family: "Roboto Black",sans-serif;
    font-size: 2.4rem;
    line-height: 29px;
    color: black;
}
h4{
    font-family: Roboto;
    font-weight: bold;
    margin-left: 15px;
    font-size: 2rem;
    margin-bottom: 0px;
}
strong{
    font-family: "Roboto Black";
    font-size: 1.6rem;
}
body footer a{
    color:pink;
    text-decoration: none;
}
footer{
    line-height: 1;
}
figcaption{
    font-family: Raleway;
    font-style: italic;
    font-size: 1.6rem;
}