
html{
    font-size: 62.5%;
}

body{
    font-family:Roboto-Medium, sans-serif;
    font-size: 1.6rem;/*=16px*/
    line-height: 1.6;
}
p,h3{
    margin-left: 20px;
}
h1{
    font-size: 5rem;
    font-family: "Raleway ExtraBold", sans-serif;
}
h2{
    font-family: "Raleway ExtraBold",sans-serif;
    font-size: 3rem;
    color: #100F58;
    border-bottom: #F7446D 1px solid;
    width: 180px;
    margin-left: 97.5px;
    margin-top: 40px;
}
h3{
    font-family: "Roboto Black",sans-serif;
    font-size: 2.4rem;
    line-height: 29px;
}
strong{
    font-family: "Roboto Black";
    font-size: 1.6rem;
}